{% extends "SalonPtica/base.html" %}
{% load static %}
{% block title %}
    {{ ptica.naziv }}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if ptica.slika %}{{ ptica.slika.url }}{% else %}{% static "img\\no_image.png" %}{% endif %}">
        <h1>{{ ptica.naziv }}</h1>
        <h2>
            <a href="{{ ptica.segment.ApsolutniURL }}">{{ ptica.segment }}</a>
        </h2>
        <p class="price">{{ ptica.cena }} RSD</p>
        <!-- dodato za korpu-->
        <form action="{% url "KorpaZaKupovinu:DodajUKorpu" ptica.id %}" method="post">
            {{ formazadodavanjepticaukorpu }}
            {% csrf_token %}
            <br>
            <input type="submit" value="Dodaj u korpu">
        </form>
        <div style="width:50%;margin-left:41.5%;">
            {{ ptica.opis|linebreaks }}
        </div>
    </div>
{% endblock %}
